<div class="with-border">

<form [formGroup]="logonForm" (ngSubmit)="onSubmit()" novalidate>
<div>
        <input type="text" formControlName="username" novalidate />
        <input type="text" formControlName="password" novalidate />
        <br/>
        <label>{{loginError}}</label>
        <br/>
        <button type="submit" >Login now</button>
</div>

</form>

<br/>
<br/>
Received token:<br/>
<textarea name="tokenTextarea" cols="40" rows="5" style="width: 95%" 
        value="{{ authenticationToken?.token }}"></textarea>

</div>
